<!DOCTYPE html>
<html>
<% include ../views/common/head %>
<body>
    
    <header>
        <% include ../views/common/header %>
    </header>

    <div>
        <img src="/images/404.jpg">
    </div>
    
    <footer>
        <% include ../views/common/footer %>
    </footer>
</body>

</html> 