<!DOCTYPE html>
<html>
<% include ../views/common/head %>
<body>

	<header>
		<% include ../views/common/header %>
	</header>
	<form action="/add" method="get">
		<div class="container" align="center">
			<label><h2><%= employeeName %></h2><h3 align="center"> already exists!!</h3></label>
			<br>
			<button type="submit" class="registerbtn">OK</button>
		</div>
	</form>
	<footer>
		<% include ../views/common/footer %>
	</footer>
</body>

</html> 