<!DOCTYPE html>
<html>
<% include ../views/common/head %>
<!-- <style type="text/css">
	th, td {
text-align: center;
padding: 10px;
font-size: 50px;
}
</style> -->
<body>

	<header>
		<% include ../views/common/header %>
	</header>

	<div>
		<h2 align="center">Looks like Elasticsearch cluster is down</h2>
		<table>
			<tr>
				<th>Troubleshooting Tips</th>
			</tr>
			<tr>
				<td>Check if you are connected to Bangalore 2FA</td>
			</tr>
			<tr>
				<td>Contact the Gangs of Archerpur team</td>
			</tr>
		</table>
	</div>

	<footer>
		<% include ../views/common/footer %>
	</footer>
</body>

</html> 