<!DOCTYPE html>
<html>
<% include ../views/common/head %>
<body>
    
    <header>
        <% include ../views/common/header %>
    </header>

    <div>
        <img src="/images/GangsOfArcherpur.jpg">
    </div>
    <div class="Introduction">
        <h1 align="center">Welcome to the official site of Gangs of Archerpur.</h1>
        <br>
        <h2 align="center">We bring in fun and laughter into workplace.</h2>
    </div>
    <footer>
        <% include ../views/common/footer %>
    </footer>
</body>

</html> 