<!DOCTYPE html>
<html>
<% include ../views/common/head %>
<body>
  
  <header>
    <% include ../views/common/header %>
  </header>
  
  <form action="/removeEmployee" method="get">
    <div class="container" align="center">
      <h1 align="center">Attention!!<br> Once removed, well we can add you back again...</h1>
      <hr><br><br><br><br>
      <label for="email"><b><h2>Email</h2></b></label><br>
      <input type="email" class="removeemployeemail" placeholder="Suprisingly mail ids are unique and not names. Kindly enter the mail id of the Employee to be removed" name="email" required>
      <br>
      <button type="submit" class="removebtn">Remove</button>
    </div>  
  </form>
  
  <footer>
    <% include ../views/common/footer %>
  </footer>

  
</body>

</html> 