<!-- views/common/header.ejs --!>

<div class="navbar">
<a href="/"><h3><i class="fa fa-fw fa-home"></i> Home</h3></a> 
<a href="/add"><h3><i class="fa fa-fw fa-plus"></i> Add</h3></a> 
<a href="/remove"><h3><i class="fa fa-fw fa-minus"></i> Remove</h3></a>
<a href="/search"><h3><i class="fa fa-fw fa-search"></i> Search</h3></a> 
</div>
<br/>
